<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet"q type="text/css" href="../css/style.css">
    
</head>


<body>

    <header class="welcome-header1">
        <h1 class="welcome-header__title1">사용자 확인</h1>
        <p class="welcome-header__text1">회원님의 유형을 선택해주세요</p>
    </header>

    <ul class="check button1">
        <li><button type="button" class="fpmgBt1" onClick="location.href='/checkfarm'">농가 회원</button></li>
        <li><button type="button" class="fpmgBt2" onClick="location.href='/information'">소비자 회원</button></li>
    </ul>

</body>
</html>