.form {
    position: relative;
    width: 940px;
    margin-bottom: 34px;
    padding: 20px 20px 10px;
    background-color: #fff;
    border: 1px solid #dbe0e9;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form .row:nth-child(1) {
    z-index: 190;
}

.form .row {
    position: relative;
    margin-bottom: 10px;
    font-size: 0;
}

.input {
    position: relative;
    display: inline-block;
    zoom: 1;
    *display: inline;
    width: 160px;
    height: 62px;
    margin-right: 10px;
    border: 1px solid #ddd;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: top;
    text-align: left;
    background-color: #fff;
}

.formProfile .input-profile-name {
    width: 182px;
}